{% extends 'dashboard_base.html' %}
{% block page_title %}Salary Advances{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2>Salary Advances</h2>
    <table class="table">
        <thead><tr><th>Employee</th><th>Amount</th><th>Date</th></tr></thead>
        <tbody>
            {% for advance in advances %}
            <tr>
                <td>{{ advance.employee.get_full_name }}</td>
                <td>{{ advance.amount }}</td>
                <td>{{ advance.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}